# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# env
.env
.env*.local

# logs
*.log
npm-debug.log*

# misc
.DS_Store
*.pem
.vscode/
.idea/

# n8n local data
/n8n/data/

# typescript
*.tsbuildinfo
